<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= apiUi.title %> | API Specification</title>
  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
  <link href='css/typography.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='css/reset.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='css/reset.css' media='print' rel='stylesheet' type='text/css'/>
  <link href='css/print.css' media='print' rel='stylesheet' type='text/css'/>
  <script src='lib/jquery-1.8.0.min.js' type='text/javascript'></script>
  <script src='lib/jquery.slideto.min.js' type='text/javascript'></script>
  <script src='lib/jquery.wiggle.min.js' type='text/javascript'></script>
  <script src='lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
  <script src='lib/handlebars-2.0.0.js' type='text/javascript'></script>
  <script src='lib/js-yaml.min.js' type='text/javascript'></script>
  <script src='lib/lodash.min.js' type='text/javascript'></script>
  <script src='lib/backbone-min.js' type='text/javascript'></script>
  <script src='swagger-ui.js' type='text/javascript'></script>
  <script src='lib/highlight.7.3.pack.js' type='text/javascript'></script>
  <script src='lib/jsoneditor.min.js' type='text/javascript'></script>
  <script src='lib/marked.js' type='text/javascript'></script>
  <script src='lib/swagger-oauth.js' type='text/javascript'></script>
  <% if (apiUi.useGoogleFonts) { %>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300,600' rel='stylesheet' type='text/css'><% } %>
  <link href='login/style.css' media='screen' rel='stylesheet' type='text/css'/>

  <!-- Some basic translations -->
  <!-- <script src='lang/translator.js' type='text/javascript'></script> -->
  <!-- <script src='lang/ru.js' type='text/javascript'></script> -->
  <!-- <script src='lang/en.js' type='text/javascript'></script> -->

  <script type="text/javascript">
    $(function () {
      function initSwaggerUi (url) {
        // Pre load translate...
        if(window.SwaggerTranslator) {
          window.SwaggerTranslator.translate();
        }
        window.swaggerUi = new SwaggerUi({
          url: url,
          dom_id: "swagger-ui-container",
          supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
          onComplete: function(swaggerApi, swaggerUi){
            if(typeof initOAuth == "function") {
              initOAuth({
                clientId: "your-client-id",
                clientSecret: "your-client-secret-if-required",
                realm: "your-realms",
                appName: "your-app-name",
                scopeSeparator: ",",
                additionalQueryStringParams: {}
              });
            }

            if(window.SwaggerTranslator) {
              window.SwaggerTranslator.translate();
            }

            addApiKeyAuthorization();
          },
          onFailure: function(data) {
            log("Unable to Load SwaggerUI");
          },
          docExpansion: "none",
          jsonEditor: false,
          apisSorter: "alpha",
          defaultModelRendering: 'schema',
          showRequestHeaders: false
        });

        function addApiKeyAuthorization() {
          var key = encodeURIComponent($('#input_apiKey')[0].value);
          if(key && key.trim() != "") {
            var apiKeyAuth = new SwaggerClient.ApiKeyAuthorization("<%= apiTokenName %>", key, "header");
            window.swaggerUi.api.clientAuthorizations.add("apiKey", apiKeyAuth);
            log("added key " + key);
          }
        }

        $('#input_apiKey').change(addApiKeyAuthorization);

        // if you have an apiKey you would like to pre-populate on the page for demonstration purposes...
        /*
           var apiKey = "myApiKeyXXXX123456789";
           $('#input_apiKey').val(apiKey);
         */

        window.swaggerUi.load();

        function log() {
          if ('console' in window) {
            console.log.apply(console, arguments);
          }
        }
      }

      $.ajax({
        type: "HEAD",
        async: true,
        url: document.location,
        error: function (xhr, status, thrown) {
          log("Unable to get the Swagger UI URL from the server: " + thrown);
        },
        success: function (message, text, response) {
          var url = response.getResponseHeader('Swagger-API-Docs-URL');<% if (prefixBaseUrl) { %>

          var prefixBaseURL = function(apiDocsPath) {
            return location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + apiDocsPath;
          }
          url = prefixBaseURL(url);<% } %>

          if (!url) {
            url = window.location.search.match(/url=([^&]+)/);

            if (url && url.length > 1) {
              url = decodeURIComponent(url[1]);
            } else {
              url = "http://petstore.swagger.io/v2/swagger.json";
            }
          }

          initSwaggerUi(url);
        }
      });
    });
  </script>
</head>

<body class="swagger-section">
<div id='header'>
  <div class="swagger-ui-wrap">
    <a id="logo" href="<%= apiUi.url %>"><%= apiUi.title %></a>
    <form id='api_selector'>
      <div class='input'><input id="input_baseUrl" name="baseUrl" type="text" placeholder="https://devebot.com/api"/></div>
      <div class='input'><a id="login" href="#" data-sw-translate>Login</a></div>
      <div class='input'><input id="input_apiKey" name="apiKey" type="text" placeholder="<%= apiTokenName %>"/></div>
      <div class='input'><a id="explore" href="#" data-sw-translate>Explore</a></div>
    </form>
  </div>
</div>

<div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>

<div class="loginDialog" style="display: none;">
  <div class="login-wrapper">
    <div class="login-content">
      <a class="loginClose" href="#">x</a>
      <h3><%= loginForm.caption %></h3>
      <form id="loginForm" method="POST" action="<%= authenticationUrl %>"><% if (loginForm.field.realm.enabled != false) { %>
        <label for="realm">
          <%= loginForm.field.realm.label %>:
          <input type="text" name="realm" id="realm" placeholder="<%= loginForm.field.realm.placeholder %>" pattern="<%= loginForm.field.realm.pattern %>" required="required" />
        </label><% } %>
        <label for="username">
          <%= loginForm.field.username.label %>:
          <input type="text" name="username" id="username" placeholder="<%= loginForm.field.username.placeholder %>" pattern="<%= loginForm.field.username.pattern %>" required="required" />
        </label>
        <label for="password">
          <%= loginForm.field.password.label %>:
          <input type="password" name="password" id="password" placeholder="<%= loginForm.field.password.placeholder %>" pattern="<%= loginForm.field.password.pattern %>" required="required" />
        </label>
        <button class="loginSubmit" type="submit"><%= loginForm.button.submit.label %></button>
      </form>
      <div class="loginMessage"></div>
    </div>
  </div>
</div>

<script type='text/javascript'>
$(document).ready(function() {
  $("#login").click(function(event) {
    event.preventDefault();
    $(".loginDialog").fadeToggle("fast");
  });

  $(".loginClose").click(function(event) {
    event.preventDefault();
    $(".loginDialog").fadeToggle("fast");
  });

  $("#loginForm").submit(function(event) {
    event.preventDefault();
    var credential = {};<% if (loginForm.field.realm.enabled != false) { %>
    credential['<%= loginForm.field.realm.id %>'] = $('#loginForm input[name=realm]').val();<% } %>
    credential['<%= loginForm.field.username.id %>'] = $('#loginForm input[name=username]').val();
    credential['<%= loginForm.field.password.id %>'] = $('#loginForm input[name=password]').val();
    var authenticationUrl = $('#loginForm').attr('action');
    $.ajax({
      url: authenticationUrl,
      type: "POST",
      contentType: "application/json",
      dataType: "json",
      data: JSON.stringify(credential)
    }).done(function(result, status, jqXHR) {
      if (result.success || result.status == 0) {
        $('#input_apiKey').val(result.token);
        $('#input_apiKey').change();
        $(".loginDialog").fadeToggle("fast");
      } else {
        $('.loginMessage').html(result.message);
      }
    }).fail(function(jqXHR, textStatus, errorThrown) {
      $('.loginMessage').html('Cannot connect to authentication Service');
    });
  });

  $(document).keyup(function(event) {
    if(event.keyCode == 27 && $(".loginDialog").css("display") != "none" ) {
      event.preventDefault();
      $(".loginDialog").fadeToggle("fast");
    }
  });
});
</script>
</body>
</html>
